<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    body,html{
        padding: 10px;
        height: 100%;
        background: #444;
    }
    .contain{
        /* width: 1000px; */
        display: flex;  
        display: -webkit-flex;
        flex-direction: column;
        justify-content: center;
        background: #222;
    }
    .box{
        width: 200px; 
        height: 200px;
        background: #ddd;
        margin: 10px;
        flex-wrap: wrap;
    }
    </style>
</head>
<body>
    <div class="contain">
    <div class="box">1</div>
    <div class="box">2</div>
    <div class="box">3</div>
    <div class="box">4</div>
     <div class="box">5</div>
    <div class="box">6</div>
    <div class="box">7</div>
    <div class="box">8</div> 
    </div>
</body>
</html>